
<section class="login dark-bg">
  <span class="logo">CoffeeLog</span>
    {{diagnostic}}
    <div class="input-field-container" [ngClass]="{'error': this.emailHasError()}">
      <input type="text" name="username" formInputfield [(ngModel)]="email" #emailField="ngModel" id="email" autocomplete="off" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
      <label class="input-field-label" for="email">Email*</label>
      <span class="helper-text error" *ngIf="this.isInvalidEmail()">Incorrect email format</span>
      <span class="helper-text error" *ngIf="this.isUnknownUser()">Unknown user</span>
    </div>
    <div class="input-field-container" [ngClass]="{'error': this.isWrongPassword()}">
      <input type="password" [ngClass]="{'error': this.isWrongPassword()}" formInputfield [(ngModel)]="password" id="password" required>
      <label class="input-field-label" for="password">Password*</label>
      <span class="helper-text error" *ngIf="this.isWrongPassword()">Incorrect password</span>
    </div>
    <div class="input-field-container">
      <button class="btn" (click)="login()" [disabled]="!email || !password">Login</button>
    </div>

  <div class="separator"><span>OR</span></div>

  <a routerLink="/create-profile" class="create-profile">Create new profile</a>
</section>