$primary-color: #262B2D;
$lighter-bg-color: #4E5456;
$light-bg-color: #F9F4E8;

$primary-font-color: #F9F4E8;
$dark-font-color: $primary-color;

$form-label-color: $primary-font-color;

$accent-color: #C39D4A;

$error-color: red;