@import "variables";
@import "colors";

.input-field-container {
  position: relative;
  margin: 2rem 0;
}

.input-field {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba($primary-font-color, .38);
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: $base-font-size;
  margin: 0 0 8px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: border .3s,;
  color: $primary-font-color;
  &:focus {
    border-bottom: solid 2px $primary-font-color;
    &+label {
      opacity: 1;
    }
  }
  .error & {
    border-bottom: solid 2px $error-color;
  }
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px $primary-color inset;
    -webkit-text-fill-color: $primary-font-color;
  }
}

.input-field-label {
  color: $primary-font-color;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1rem;
  cursor: text;
  transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out, opacity .2s ease-out;
  transform-origin: 0% 100%;
  text-align: initial;
  opacity: .38;
  transform: translateY(15px);
  .active & {
    transform-origin: 0 0;
    transform: translateY(-15px) scale(.8);
  }
  .error & {
    color: $error-color;
    opacity: 1;
  }
}

// helper texts
.helper-text {
  position: relative;
  min-height: 18px;
  display: block;
  font-size: 12px;
  color: rgba($primary-font-color,0.54);
  &.error {
    color: rgba($error-color, .54);
  }
}

// Submit buttons
button {
  margin: 0;
}

.btn {
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-appearance: button;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  text-transform: uppercase;
  padding: 0 16px;
  border: none;
  border-radius: 2px;
  height: 36px;
  line-height: 36px;
  background: $accent-color;
  display: block;
  width: 100%;
  &:disabled {
    background: rgba($accent-color, .36);
  }
}